# -------------------------------------
# Domain Configuration
# -------------------------------------
FRONTEND_FQDN=
BACKEND_FQDN=

# -------------------------------------
# CORS Configuration
# -------------------------------------
CORS_ORIGIN=https://${FRONTEND_FQDN}

# -------------------------------------
# Traefik Port Configuration
# -------------------------------------
TRAEFIK_WEB_PORT=9980
TRAEFIK_DASHBOARD_PORT=8989
